:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font4: "Roboto", sans-serif;
  }

body {
    font-family: var(--font-family);
    color: #22343d;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header */

.header {

}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}

.header-nav-link {
    display: block;
    padding: 26px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
}

.header-nav-link:active {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    gap: 21px;
    font-family: var(--font-family);
}

.header-btn-in {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
}

.header-btn-up {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
}

/* hero */

.hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 100px;
}

.hero {
    
}

.hero-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    font-weight: 700;
    color: #22343d;
    font-size: 40px;
    line-height: 1.5;
    max-width: 392px;
    padding-top: 112px;
    padding-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    color: #22343d;
    font-size: 18px;
    line-height: 1.55;
    max-width: 426px;
    padding-bottom: 45px;
}

.hero-list {
display: flex;
justify-content: center;
font-family: var(--font-family);
}

.hero-btn-start {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.hero-btn-video {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    width: 164px;
    height: 23px;
    background-color: #fff;
    border: none;
}

/* built */

.built {
    padding-bottom: 100px;
}

.built-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.built-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    text-align: center;
    margin-bottom: 50px;
    max-width: 530px;
}

.built-list {
    display: flex;
    margin-bottom: 76px;
    gap: 30px;
}

.built-item {
    width: calc((100% - 90px) / 4);
}

.built-item-box {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    
}

.built-item-title {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
    max-width: 255px;
}

.built-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    max-width: 250px;
}
.built-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color:  #02897a;
    width: 175px;
    height: 53px;   
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* support */

.support {
    padding-bottom: 150px;

}

.support-container {
    max-width: 1150px;   
}

.support-main-list {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 84px;
}

.support-main-item {
    display: flex;
    justify-content: space-between;
}

.support-text-box {
    display: flex;
    flex-direction: column;
    max-width: 486px;
    justify-content: center;
}

.support-title {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    padding-bottom: 8px;
}

.support-main-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    padding-bottom: 25px;
}

.support-main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    padding-bottom: 30px;
}

.support-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    padding-bottom: 12px;
}

.support-list {
}

.support-item {
}

.support-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    padding-bottom: 25px;
}

/* process */

.process {
}

.process-container {
    max-width: 956px;
    display: block;
}

.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    padding-bottom: 25px;
    text-align: center;
}

.process-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #22343d;
    padding-bottom: 40px;
    max-width: 542px;
    margin-left: auto;
    margin-right: auto;
}

.process-list {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    /* justify-content: center; */

    column-gap: 100px;
    row-gap: 25px;
    padding-bottom: 50px;
}

.process-item {
    display: flex;
    width: calc((100% - 100px)) / 2;
    gap: 20px;
}

.process-img-one {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #ff0909;
}

.process-img-two {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #740a76;
}

.process-img-three {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #02897a;
}

.process-img-four {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #035b81;
}

.process-item-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    width: 281px;
    height: 50px;
    border: none;
    border-radius: 24px;
    padding-top: 14px;
    padding-bottom: 12px;
    margin-top: 24px;
}

.process-btn {
    width: 216px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background: #02897a;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: block;
}
